    <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-ligth fixed-top bg-white">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <% if controller_name == 'products' %>
              <a class="nav-link" href="#"><%= link_to 'Lojas', store_path %> <span class="sr-only">(current)</span></a>
              <% end %>
            </li>
           
          </ul>
         
        </div>
        <div class="col-4 text-center">
          <% if controller_name == 'product' %>
           <%= image_tag store_logo, height: "50px" %>
          <% end %>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            
          <a class="text-muted">
            <% if current_user %>
             <span >Logado como: <%= current_user.email %>.   <%= link_to "Sair", destroy_user_session_path, method: :delete, class: 'btn btn-smbtn-outline-success my-2 my-sm-0' %> </span>
             <% else %>
                 <span >Não está logado, <%= link_to "Entrar", new_user_session_path, class: 'btn btn-sm btn-outline-secondary' %> </span>
            <% end %>
          </a>
            
        </div>

      </nav>